body {
  margin: 0;
  .people_container {
    position: relative;
    width: 100%;
  }
  .container-fluid {
    overflow: hidden;

    position: relative;
    padding-right: 0;
    padding-left: 0;
    // padding-top: 40px;
    width: 100%;
    height: 100vh;
    // background-color: #BBAA99;
    background-image: url("./img/pic2/BG.png");

    #bg_img {
      top: -5%;
      left: -10%;
      position: absolute;
      overflow: hidden;
      height: 110%;
      width: 110%;
      .bg_image {
        // overflow: hidden;

        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    .navbar {
      // height: 100px;
      background-image: url("./img/pic2/NAV.png");

      .container {
        height: 100px;
        padding-top: 40px;

        // position: relative;
        .navbar-brand {
          // position: absolute;

          // padding-top: 100px;
          height: 140px;
          width: 120px;
          background-image: url("./img/pic2/all.png");
          // background-image: url("./img/pic2/nb.png");
          animation-name: example;
          animation-duration: 0.3s;
          animation-iteration-count: infinite;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        .imgBox {
          display: flex;
          justify-content: space-between;
          margin: 20px;
          // background-color: green;
          width: 100%;
          height: 100%;
          // z-index: 1111;
        }

        .bg-img {
          height: 100%;
          width: 25%;
          transition: 0.5s;

          // background-color: honeydew;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .bg-img:hover {
          border-bottom: solid plum 10px;
          // transition:width 1s ease-out,
          // transition:
          //    border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
          // width 0.25s ease-out 0.5s,
        }

      }
    }
    .box {
      width: 100%;
      height: 140px;
    }
    .container{
      width: 100%;
      height: calc(100% - 140px);
      transition: 2s;
      .row {
        position: relative;
        height: 100%;
        .people_group {
          width: 100%;
          height: 100%;
          animation-name: jump;
          animation-duration: 2.2s;
          animation-iteration-count: infinite;
          .bg-img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }

        .people_container {
          display: none;
          // transition:5s;
        }
        .people_container.active {
          // position: relative;
          position: absolute;
          background-image: url("./about_in/smallbg.png");
          // width: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 100%;
          display: flex;
          .peoAndAura {
            height: 100%;
            width: 20%;
            .people {
              width: 100%;
              height: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          .people_text {
            // text-align: center;
            font-size: 35px;
            padding: 50px;
            // position: absolute;
            // height: 100%;
            width: 45%;
            color: beige;
            top: 50%;
          }
          .people_line {
            height: 100%;
            width: 35%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }
      }
    }
    .history{
      width: 100%;
      height: 1600px;
    }
    .footer {
      position: fixed;
      width: 100%;
      padding: 3px;
      color: azure;
      background-color: #0c0a35;
      text-align: center;
      bottom: 0%;
    }
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }

  33% {
    background-image: url("./img/pic2/nb.png");
  }

  66% {
    background-image: url("./img/pic2/nw.png");
  }

  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
@keyframes jump{
  0%{
    top:20px;
  }
  20%{
    border-radius:2px;  /*從 20% 的地方才開始變形*/
  }
  50%{
    top:50px; 
    /* border-bottom-right-radius:25px; */
  }
  80%{
    border-radius:2px;  /*到 80% 的地方恢復原狀*/
  }
  100%{
    top:20px;
  }
}
// 100% {
//     background-image: url('./img/pic2/all.png');
// }
// }
