body {
  margin: 0;
}

body .container-fluid {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./img/pic2/BG.png");
}

body .container-fluid .navbar {
  background-image: url("./img/pic2/NAV.png");
}

body .container-fluid .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .container-fluid .navbar .container .navbar-brand {
  height: 140px;
  width: 120px;
  background-image: url("./img/pic2/all.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .navbar-brand {
    display: none;
  }
}

body .container-fluid .navbar .container .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .imgBox {
    display: none;
  }
}

body .container-fluid .navbar .container .bg-img {
  height: 100%;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container-fluid .navbar .container .bg-img:hover {
  border-bottom: solid plum 10px;
}

body .container-fluid .box {
  width: 100%;
  height: 140px;
}

body .container-fluid .container-fluid .first_product_box {
  padding-top: 140px;
  width: 100%;
  height: calc(100% - 140px);
  background-color: burlywood;
}

body .container-fluid .container-fluid .product_box {
  width: 100%;
  height: 100vh;
  margin: 20px 0 0 0;
  border: black 1px solid;
}

body .container-fluid .container-fluid .box1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body .container-fluid .container-fluid .box1 .swiper-wrapper .swiper-slide {
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body .container-fluid .container-fluid .box1 .swiper-wrapper .swiper-pagination {
  height: 10%;
}

body .container-fluid .container-fluid .box2 .layer2_l {
  border: #ee0a35 1px solid;
  height: 100%;
}

body .container-fluid .container-fluid .box2 .layer2_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

body .container-fluid .container-fluid .box2 .layer2_r .layer2_r_item {
  border: #ee0a35 1px solid;
  width: 50%;
  height: 50%;
  padding: 15px;
}

body .container-fluid .container-fluid .box2 .box3 {
  position: relative;
}

body .container-fluid .container-fluid .box2 .box3 .layer3_cont {
  height: 100%;
  width: 100%;
}

body .container-fluid .container-fluid .box2 .box3 .layer3_cont .layer3 {
  border: #ee0a35 1px solid;
  height: 100%;
}

body .container-fluid .container-fluid .box2 .box3 .layer3_backRect {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: salmon;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  top: -50%;
  right: -50%;
}

body .container-fluid .footer {
  position: fixed;
  width: 100%;
  padding: 3px;
  color: azure;
  background-color: #0c0a35;
  text-align: center;
  bottom: 0%;
}

@-webkit-keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
/*# sourceMappingURL=products.css.map */